.footer {
  align-items: center;
  border-top: 1px solid #eaeaea;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100%;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 1em;
}
