.section {
  display: grid;
  height: 100%;
  place-content: center;
  place-items: center;
}

.title {
  color: #09f;
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 16px;
}

.subtitle {
  color: #000000;
  font-size: 21px;
  margin: 0;
}

.button__container {
  margin: 20px;
}

.buttons > * {
  margin-top: 10px;
}
